@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Open+Sans&display=swap');

:root {
    --primary-color: #80c9ad;
    --primary-color-dark: rgb(8, 76, 92);
    --second-color: #056651;
}

* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #a8edea, #fed6e3);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--primary-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input :focus {
    outline: 10px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--second-color);
    color: #e6f7e9;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-dark);
}

.paragrafo-resultado,
.bad {
    background: #62c783;
    padding: 10px 20px;
}

.bad {
    background: #ff6b6b;
}