* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 40px;
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto fill, minmax(320px, 1fr));
    gap: 30px;
}

.grid div {
    background: tomato;
    min-height: 100px;
}

.grid div:nth-child(5) {
    background: red;
    grid-row: span 1;
    grid-column: span 2;
}

@media (max-width: 728px) {
    body {
        font-size: 20px;
    }

    .grid {
        grid-template-columns: repeat(auto fill, minmax(200px, 1fr));
    }

    .grid div:nth-child(5) {
        grid-column: span 1;
    }
}