* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pai .um+.dois {
    color: red;
}

[meu-atributo~="valor1 valor2 valor3"] {
    color: red;
}

[checked] {
    width: 50px;
    height: 50px;
}