* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 40px;
}

.container {
    max-width: 2920px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        "header header"
        "nav main"
        "rodape rodape";
}

.grid div:nth-child(1) {
    grid-area: header;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid div:nth-child(2) {
    grid-area: nav;
    background: yellow;
}

.grid div:nth-child(3) {
    grid-area: main;
    background: violet;
}

.grid div:nth-child(4) {
    grid-area: rodape;
    background: turquoise;
}


@media (max-width: 600px) {
    .grid {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "rodape";
    }

    .grid div:nth-child(1) {
        justify-content: center;
    }
}