* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;


}

.grid {
    padding: 15px;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 73px;
}

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid .col {
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

.grid .col-content {
    width: 100%;
    height: 100%;
    background-color: red;
    box-shadow: inset 5px 5px 5px blue, 5px 5px 5px rgba(0, 0, 0, 0.563);

}

.menu {
    width: 100%;
    position: fixed;
    background: black;
}

.menu ul {
    list-style: none;
    display: block;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.menu ul li a {
    float: left;
}

.menu ul li a {
    display: block;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu ul li a:hover {
    background: #333;
}

.full-page {
    padding: 0 30px;
    margin: 0 auto;
    max-width: 100%;
    padding-top: 73px;
    height: 100vh;
    background: turquoise;
}

@media all and (max-width: 568px) {
    .grid .col {
        width: 100%;
    }
}

@media all and (min-width: 569px) and (max-width: 768px) {
    .grid .col {
        width: 50%;
    }
}

@media all and (min-width: 1200px) {
    .grid .col {
        width: 25%;
    }
}